html {
}

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.header {
  background-color: #30cad3;
  padding: 40px 0;
}

.header > img {
  display: block;
  margin: auto;
}

.content {
  display: block;
  width: 80%;
  margin: 40px auto;
  color: #666;
  font-size: 1.2em;
  line-height: 1.6;
}

@media only screen and (min-width: 768px) {
  .content {
    max-width: 600px;
    font-size: 1em;
  }
}
